@import "../../global.scss";

.resumeImgContainer{
    max-width: 300px;     
    
}

.resumePar{
        text-align: justify;
        }
.resumeImg{
    width:100%;    
    
}
.resumePdf{
    text-decoration: none;
    color:black;
    padding:10px;    
}