@import "../../global.scss";
 .p{
     text-align: justify;
     padding:50px;
    
 }
 .blogWrapper{
     padding:100px;
 }
 .blogBtn{
    padding: .5rem;
    font-family: inherit;
    font-weight: bold;
    margin:1rem;
    border: 2px solid $mainColor;
    font-size: 1rem;
    background-color: transparent;
    color:$mainColor;
    border-radius: .3rem;
    transition: background-color 200ms ease0in, color 200ms ease-in;
 
}